@import './breackpoints.scss';

.video-item {
    border: none;
    color: var(--gray-dark);
    background-color: var(--gray);

    @include respond-to('large') {
        margin: 0rem 0.5rem;
        padding: 0rem 0.5rem;
    }

    @include respond-to('xlarge') {
        margin: 0rem;
        padding: 0rem;
    }

    .card-image {
        cursor: pointer;
        border-radius: 1rem;
        width: 10rem;
        height: 12rem;
        object-fit: cover;
        object-position: center;
        box-shadow: 0.1rem 0.1rem 1.3rem var(--gray-dark);
        margin: 0rem auto;
        
        @include respond-to('medium') {
            height: 13rem;
        }
    }

    .card-body {
        padding: 0.5rem 0rem;
        padding: 0rem 1rem;

        @include respond-to('medium') {
            padding: 0rem 0.5rem;
        }
        @include respond-to('large') {
            padding: 0rem;
        }
        @include respond-to('xlarge') {
            padding: 0rem 1.8rem;
        }

        .card-title {
            color: var(--blue-primary);
            font-weight: bold;
            margin-bottom: 0.5rem;
        }

        .card-subtitle {
            font-size: 0.8rem;
        }
    }
}